:root {
    --dark: darkslateblue;
    --forecast-card-dark: rgb(46, 53, 59);
    --light: lightslategrey;
}

header {
    background: linear-gradient(to right, slateblue, darkslateblue);
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 52px;

    color: white;
}

#city-search-label {
    font-size: 32px;
    font-weight: bold;
}

.list-button {
    width: 100%;

    font-weight: bold;

    padding: .4em 0;

    border: 0;
    border-radius: 5px;
}

/* Removes the stupid border around each button when you have it selected. */
button:focus {
    outline: none;
}

.submit-button {
    background-color: slateblue;
    color: white;
}

.submit-button:hover {
    background-color: darkslateblue;
}

.city-button {
    background-color: lightgray;
    color: black;

    margin-bottom: 1em;

    position: relative;
}

.hover {
    background-color: slateblue;
    color: white;
}

.selected {
    background-color: slateblue;
    color: white;
}

.btn-close {
    position: absolute;

    right: 0;
    top: .18em;

    color: white;
}

.btn-close:hover {
    color: white;
}

#current-weather-card {
    position: relative;
}

#current-weather-icon {
    position: absolute;

    right: 0;
    bottom: 0;
}

.modal-dismiss {
    background-color: slateblue;
    color: white;

    font-weight: bold;
}

.modal-dismiss:hover {
    background-color: darkslateblue;
    color: white;
}

.modal-title {
    font-weight: bold;
}

.forecast-card {
    background-color: var(--forecast-card-dark);
    color: white;
}

.sortable-ghost {
    background-color: slateblue;
    color: white;
}

.sortable-drag {
    background-color: slateblue;
    color: white;
}

i {
  font-size: 44px;

  color: white;

  position: absolute;
  right: .5em;
}

@media (max-width: 1200px) {
    .forecast-weather-icon {
        position: absolute;

        top: 25%;
        right: 0;
    }

    .forecast-card {
        margin: .5em;
    }

    #current-weather-icon {
        transform: translate(0, 20%);
    }
}

@media (max-width: 520px) {
    header {
        justify-content: space-between;
    }

    h1 {
        font-size: 36px;
    }

    i {
        font-size: 28px;
    }
}