:root {
    --dark: darkslateblue;
}

header {
    background: linear-gradient(to right, slateblue, darkslateblue);
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

#city-search-label {
    font-size: 32px;
    font-weight: bold;
}

.list-button {
    width: 100%;

    font-weight: bold;

    padding: .4em 0;

    border: 0;
    border-radius: 5px;
}

/* Removes the stupid border around each button when you have it selected. */
button:focus {
    outline: none;
}

.submit-button {
    background-color: slateblue;
    color: white;
}

.submit-button:hover {
    background-color: darkslateblue;
}

.city-button {
    background-color: lightgray;
    color: black;

    margin-bottom: 1em;

    position: relative;
}

.city-button:hover {
    background-color: slateblue;
    color: white;
}

.selected {
    background-color: slateblue;
    color: white;
}

.btn-close {
    position: absolute;

    right: 0;
    top: .18em;

    color: white;
}

.btn-close:hover {
    color: white;
}

#current-weather-card-body {
    position: relative;
}

#current-weather-icon {
    position: absolute;

    top: 0;
    right: 0;
}

.modal-dismiss {
    background-color: slateblue;
    color: white;

    font-weight: bold;
}

.modal-dismiss:hover {
    background-color: darkslateblue;
    color: white;
}

.modal-title {
    font-weight: bold;
}